trigger: none 

pool: My_pool

steps: 

- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  displayName: NPM Install
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  displayName: NPM Run Build
  inputs:
    targetType: 'inline'
    script: 'npm run build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true

# - task: AzureCLI@2
#   inputs:
#     azureSubscription: 'service_ado'
#     scriptType: 'ps'
#     scriptLocation: 'inlineScript'
#     inlineScript: $(cli_login)

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(System.DefaultWorkingDirectory)/build.zip'
    artifact: 'Todo-UI'
    publishLocation: 'pipeline'