trigger: none 

pool: My_pool

steps: 

- task: NodeTool@0
  inputs:
    versionSource: 'spec'
    versionSpec: '16.x'

- task: PowerShell@2
  displayName: NPM Install
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  displayName: NPM Run Build
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build/'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true


- task: AzureCLI@2
  inputs:
    azureSubscription: 'Secret_Service'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az storage blob upload `
        --account-name tattu101 `
        --container-name con99 `
        --name build.zip `
        --file "$(System.DefaultWorkingDirectory)/build.zip" `
        --account-key "$(storageKey)"

